.card {
  padding: 20px 30px;
  .dateAndBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 1rem;
      color: #7e7d7d;
    }
    .btn-large {
      border: 1px solid #000;
      transition: all 0.9s ease;
      display: block;
      background-color: rgb(105, 6, 6);
      color: #fff;
      &:hover {
        background-color: rgb(177, 10, 10);
        color: #000;
      }
    }
  }
}
