.filter{
    display: flex;
    
    margin-top: 30px;
    padding: 0 10px;
    align-items: center;
    .btn-large{
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        transition: all .9s ease;
        &:hover{
            background-color: #000;
            color: #fff;
            border: 1px solid #fff;
        }
    }

}

